/* couleur */

:root {
    --purple: #5C7AEA;
    --white: #fff;
    --yellow: #FFC357;
    --blackgrey: #999898;
    --black: #000;
}

body {
    overflow-x: hidden;
}


/* font-family */

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow/BarlowCondensed-Bold.woff2') format('woff2'), url('../font/Barlow/BarlowCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow/BarlowCondensed-Medium.woff2') format('woff2'), url('../font/Barlow/BarlowCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow/BarlowCondensed-Regular.woff2') format('woff2'), url('../font/Barlow/BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow/BarlowCondensed-Thin.woff2') format('woff2'), url('../font/Barlow/BarlowCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* font-style */

h1 {
    font-size: 3.5rem;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 35px;
}

* {
    font-size: 16px;
}


/* ARTICLES : LES 5 avantages de l'entreprenariat pour les jeunes */

.article_video {
    width: 525px;
}

.descr-section {
    width: 590px;
}

.article_video_section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    padding-top: 150px;
}

.advantages-h2 {
    max-width: 590px
}

.icon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.date:first-child {
    padding-right: 20px;
}

.icon svg {
    padding-right: 10px;
}

article {
    margin-bottom: 100px;
}

.two_sides {
    display: flex;
    justify-content: space-between;
}

.threats-article img {
    width: 480px;
    padding-left: 40px;
}

.learningprocess-section img {
    width: 416px;
    padding-left: 40px;
}

.reorientation-section img {
    width: 541px;
    padding-right: 40px;
}

.threats-article.text-articles,
.learningprocess-section.text-articles,
.reorientation-section.text-articles {
    max-width: 650px;
    padding-right: 40px;
}

.text-section {
    padding: 0 50px;
}

.summup {
    margin-bottom: 100px;
}

.img {
    max-width: 480px;
}

.share_icon svg {
    font-size: 40px;
}