    /* couleur */

:root {
    --purple: #5C7AEA;
    --white: #fff;
    --yellow: #FFC357;
    --blackgrey: #999898;
    --black: #000;
}

body {
    overflow-x: hidden;
}


/* font-family */

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow/BarlowCondensed-Bold.woff2') format('woff2'), url('../font/Barlow/BarlowCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow/BarlowCondensed-Medium.woff2') format('woff2'), url('../font/Barlow/BarlowCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow/BarlowCondensed-Regular.woff2') format('woff2'), url('../font/Barlow/BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow/BarlowCondensed-Thin.woff2') format('woff2'), url('../font/Barlow/BarlowCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* font-style */

h1 {
    font-size: 70px;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 35px;
}

* {
    font-size: 16px;
}


/* ARTICLES : LES 5 avantages de l'entreprenariat pour les jeunes */

.breadcrumb {
    padding: 150px 0px 20px 0px;
}

.breadcrumb svg {
    font-size: 25px;
    transform: rotate(90deg);
    padding-top: 20px;
}

.link_homepage {
    text-decoration: underline;
    color: inherit;
    display: flex;
    align-items: center;
}

.article_video {
    width: 100%;
    height: 295.3px;
}

.descr-section {
    max-width: 590px;
}

.article_video_section {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.advantages-h2 {
    max-width: 590px
}

.icon {
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
}

.icon p {
    margin-right: 20px;
}

.date:first-child {
    padding-right: 20px;
}

.icon svg {
    padding-right: 10px;
}

article {
    margin-bottom: 100px;
}

.two_sides {
    display: flex;
    justify-content: space-between;
}

.threats-article img {
    width: 480px;
    padding-left: 40px;
    height: fit-content;
}

.learningprocess-section img {
    width: 416px;
    padding-left: 40px;
}

.reorientation-section img {
    width: 541px;
    padding-right: 40px;
}

.threats-article.text-articles,
.learningprocess-section.text-articles,
.reorientation-section.text-articles {
    max-width: 650px;
    padding-right: 40px;
}

.text-section {
    padding: 0 50px;
}

.summup {
    margin-bottom: 100px;
}

.img {
    max-width: 480px;
}

.share {
    margin-bottom: 30px;
}

.share_icon svg {
    font-size: 40px;
}


/*ARTICLE LES 5 CLÉS DE LA CONFIANCE EN SOI*/

.video-text {
    max-width: 590px;
}

.icon-trust {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}


.strengh-text {
    max-width: 650px;
}

.strengh img {
    max-width: 483px;
}

.fail img {
    width: 50%;
    max-width: 480px;
    height: 100%;
}

.fail-text {
    max-width: 650px;
}

.strengh,
.fail,
.nojugement {
    display: flex;
    justify-content: space-between;
}

.nojugement-text {
    max-width: 650px;
}

.nojugement img {
    max-width: 377px;
}

.vision-positive-h2 {
    text-align: center;
}
.indispensable {
    padding: 0 50px 50px;
}
.indispensable section:nth-last-child(2n+2) {
    flex-direction: row-reverse;
}
.indispensable section>div {
    text-align: left;
    max-width: 525px;
    width: 100%;
}
.indispensable .part_two{
    padding: 0;
}
.indispensable section div:first-child{
    margin: 0 20px 0 0;
}
.indispensable section:nth-last-child(2n+2) div:first-child{
    margin: 0 0 0 20px;
}
.indispensable_month_entrepreneur figure {
    width: 50%;
    min-width: 250px;
}
.indispensable_month_entrepreneur figure img {
    width: 100%;
}
.art_video_container{
    width: 100%;
    max-width: 525px;
}
.video_descr {
    width: 50%;
    margin-right: 40px;
}

@media (max-width: 929px) {
    .descr-section, .advantages-h2{
        max-width: 100%;
    } 
    .threats-article img {
        padding-left: 0px;
        max-height: 300px;
        width: auto;
    }
    .video_descr {
        width: 100%;
        margin-right: 0px;
    }
    .indispensable_month_entrepreneur {
        display: flex;
        flex-wrap: wrap;
    }
    .part_two {
        flex-wrap: wrap;
    }
    .indispensable section>div {
        padding: 30px;
    }
    .indispensable {
        padding: 0 20px 20px;
    }
    .fail, .strengh, .nojugement{
        flex-direction: column;
        align-items: center;
    }
    .article_video_section{
        flex-direction: column-reverse;
        align-items: center;
    }
    .fail img {
        max-width: 480px;
        height: 250px;
        width: unset;
    }
    .breadcrumb {
        padding: 100px 0px 20px 0px;
    }
    .text-section {
        padding: 0px 0px;
    }
    .two_sides {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .indispensable .part_two {
        padding: 0 !important;
    }
}