     :root {
        --purple: #5C7AEA;
        --white: #fff;
    }
    
    body {
        padding: 0 100px;
    }
    /*     Bannière     */
    
    .banner {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .bannerVideo {
        top: 0;
        right: 0;
        left: 0;
        object-fit: cover;
        height: 100vh;
        width: 100%;
    }
    /**NOS CONSEILS POUR TE LANCER**/
    
    .advices {
        margin-top: 100px;
        text-align: center;
    }
    
    .three {
        display: flex;
        justify-content: center;
    }
    
    .paragraph {
        margin-bottom: 30px;
    }
    
    .little_title {
        font-weight: bold;
    }
    
    .trust,
    .inform,
    .time {
        margin: 0 15px;
    }
    /***LES CLÉS DE LA CONFIANCE EN SOI***/
    
    .part_two {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    
    div.left_side {
        margin-right: 20px;
    }
    
    div.left_side h2 {
        line-height: 1.5;
    }
    
    div.left_side p {
        line-height: 1.5;
        margin-bottom: 50px;
    }
    
    div.right_side img {
        width: 70%;
        margin-left: 20px;
    }
    
    .btn_articles {
        width: 200px;
        background-color: var(--purple);
        padding: 10px 20px;
        color: var(--white);
        text-decoration: none;
    }
    
    .banner:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
        opacity: 0.5;
        top: 0;
        left: 0;
    }
    
    .banner-content {
        transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
    }
    
    .banner-content h1,
    .banner-content p {
        color: white;
        margin-bottom: 40px;
    }
    
    .btn-group {
        margin-bottom: 50px;
    }
    
    .btn {
        width: 80px;
        padding: 10px 30px;
        border-radius: 7px;
        margin: 20px;
    }
    
    .filled-btn {
        background-color: #5C7AEA;
        color: white;
    }
    
    .empty-btn {
        border: solid 1px #FFC357;
        color: #FFC357;
    }